.header {
  min-height: 900px;

  background-color: $color-tangaroa;
  background-image:
    url("../../img/scheme.png"),
    url("../../img/poly.png"),
    url("../../img/bg_header.png");

  background-repeat: no-repeat;
  background-position: 90% 60%, 85% 35%, 0 0;
  background-size: 705px 515px, 640px 670px, cover;
}
