$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-laptop: 1199px;
$breakpoint-desktop: 1439px;

$font-ptmono: "PT Mono", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;
$font-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

$color-white: #ffffff;
$color-regent-gray: #788891;
$color-tangaroa: #1b2d37;
$color-finlandia: #626962;
$color-nordic: #203c42;
$color-deep-sky-blue: #00b2ff;
