.advantages {
  margin-bottom: -500px;
  padding-top: 109px;
  padding-bottom: 500px;

  overflow: hidden;

  .container {
    position: relative;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__triangle {
  position: absolute;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--small {
    width: 234px;
    height: 261px;

    background-image: url("../../img/triangle_small.svg");
  }

  &--big {
    width: 826px;
    height: 907px;

    background-image: url("../../img/triangle_big.png");
  }

  &--1 {
    top: 0;
    left: -100px;
  }

  &--2 {
    top: 380px;
    right: -220px;

    transform: rotate(180deg);
  }

  &--3 {
    top: 420px;
    left: -640px;

    transform: rotate(180deg);
  }

  &--4 {
    top: 130px;
    left: 20%;
  }
}

.advantage {
  position: relative;
  z-index: 1;

  display: flex;
  flex: 1 0 calc(50% - 15px);
  flex-direction: column;
  align-items: flex-start;
  max-width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 40px 40px 24px 44px;
  border: 1px solid $color-whisper;
  border-left: 3px solid $color-deep-sky-blue;

  background-color: $color-white;

  transition: all 200ms ease;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:hover {
    border-color: $color-deep-sky-blue;

    background-color: $color-deep-sky-blue;

    svg,
    .advantage__title,
    .advantage__text {
      color: $color-white;
    }
  }
}

.advantage svg {
  margin-bottom: 23px;

  color: $color-deep-sky-blue;

  transition: all 200ms ease;
}

.advantage__title {
  margin: 0 0 15px;

  color: $color-deep-sky-blue;
  font-size: 2.4rem;
  font-family: $font-roboto-condensed;
  line-height: 3.4rem;

  transition: all 200ms ease;
}

.advantage__text {
  color: $color-dim-gray;
  font-size: 1.6rem;
  line-height: 2.2rem;

  transition: all 200ms ease;
}

@media (max-width: $breakpoint-tablet) {
  .advantages {
    padding-top: 54px;
  }

  .advantages__triangle {
    &--4 {
      left: 30%;
    }
  }

  .advantage {
    padding: 24px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .advantages {
    padding-top: 37px;
  }

  .advantages__triangle {
    &--4 {
      top: 65%;
      left: -30%;
    }
  }

  .advantage {
    flex: 1 0 100%;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
