.hero {
  position: relative;

  padding-top: 231px;
}

.hero__title {
  margin-bottom: 31px;

  color: $color-white;
  font-weight: bold;
  font-size: 8rem;
  font-family: $font-roboto-condensed;
  line-height: 9.4rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.hero__text {
  position: relative;

  max-width: 780px;
  margin-bottom: 37px;

  padding-left: 95px;

  color: $color-white;
  font-size: 2.2rem;
  line-height: 3.4rem;

  &::before {
    position: absolute;
    top: 16px;
    left: 0;

    width: 66px;
    height: 2px;

    background-color: $color-white;

    content: "";
  }
}

.hero__btn {
  margin-left: 95px;
  padding: 17px 28px 14px;
  border: none;
  border-radius: 5px;

  color: $color-white;

  font-weight: bold;
  font-size: 1.6rem;
  font-family: $font-roboto-condensed;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: $color-deep-sky-blue;
  outline: none;
  cursor: pointer;

  transition: all 200ms ease;

  &:hover {
    box-shadow: 1px 1px 5px 2px rgba(80, 150, 200, 0.7);
  }

  span:last-child {
    display: none;
  }
}

.hero__scroll {
  position: absolute;
  bottom: -220px;
  left: 0;

  color: $color-white;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-decoration: none;

  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.5;

  transition: all 200ms ease;

  &:hover {
    color: $color-regent-gray;
  }
}

@media (max-width: $breakpoint-tablet) {
  .hero {
    padding-top: 116px;
    padding-left: 88px;
  }

  .hero__title {
    max-width: 400px;

    font-size: 6rem;
    line-height: 7rem;
  }

  .hero__text {
    max-width: 410px;
    padding-left: 60px;

    font-size: 1.8rem;
    line-height: 2.8rem;

    &::before {
      width: 33px;
    }
  }

  .hero__btn {
    margin-left: 60px;
  }

  .hero__scroll {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .hero {
    padding: 231px 15px 0;
  }

  .hero__title {
    font-size: 4rem;
    line-height: 4.7rem;
  }

  .hero__text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .hero__btn {
    width: 100%;
    margin: 0;

    span:first-child {
      display: none;
    }

    span:last-child {
      display: initial;
    }
  }
}
