.logo {
  display: flex;

  text-decoration: none;

  transition: all 200ms ease;

  &:hover {
    transform: translate(2px, 2px);
    opacity: 0.8;
  }
}

.logo__img {
  margin: 0 16px 0 0;
}

.logo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    color: $color-white;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: $font-roboto-condensed;
    line-height: 2.9rem;
    white-space: nowrap;
  }

  span {
    color: $color-regent-gray;
    font-size: 1.2rem;
    font-family: $font-roboto;
    line-height: 1.4rem;
  }
}
